html, body {
	width: 100%;
}

img {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

#quote {
	position: absolute;
	top: 45%;
	transform: translateY(-55%);
	right: 20px;
}